<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mrdreamer.iknow">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Social.SearchUserGetFriends"
            android:launchMode="singleTop"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchuser_config"/>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mrdreamer.iknow.MainActivity">
            </meta-data>
        </activity>
        <activity android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mrdreamer.iknow.LoginActivity">

            </meta-data>
        </activity>
        <activity android:name=".LoginActivity2">
            <meta-dataa
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mrdreamer.iknow.MainActivity">

            </meta-dataa>
        </activity>
    </application>

</manifest>